.carddd {
    text-align: left;
    margin-top: 10px;
    margin-left: 40px;
    background-color: aquamarine;


}

.bb2 {
    margin-left: 17rem;
}

#name123 {
    color: blueviolet;
    margin-left: 10px;
}

#date {
    margin-left: 75px;
}

#time {
    margin-left: 75px;
}

#address {
    margin-left: 75px;
}

#phno {
    margin-left: 75px;
}